.header {
  padding-block: 40px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  padding: 12px 32px;
  border-radius: 8px;
  background: #A6ADFF;
  font-size: 20px;
}

@media (max-width: 1140px) {
  .header {
    padding-block: 32px 40px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-block: 24px 30px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-block-end: 20px;
  }

  .header__link {
    padding: 10px 16px;
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .header__link {
    display: none;
  }
}